@inherits System.Web.Mvc.WebViewPage<IPagedList<EpiTest.Models.DynamicData.DynamicComment>>
@{
    Layout = null;
}

@using PagedList
@using PagedList.Mvc
@using EpiTest.Models.DynamicData

<title>Admin Manage Comments</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



@{
    int ID = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.Web.Routing.IPageRouteHelper>().PageLink.ID;
}

@*Show list comment*@

<h4>Manage Comment</h4>

<ul id="CommentDiv" class="list-group">

    @foreach (DynamicComment key in ViewBag.Comments)
    {
        <li class="list-group-item" style="display: block">

            @* Form delete *@
            <form action="/FormComment/DeleteComment" method="post" onsubmit="return confirmDel()">
                <input type="hidden" value="@key.IdComment" name="id" id="id-@key.IdComment" />
                <input type="hidden" value="@ID" name="PageID" id="PageID-@key.IdComment" />
                <button class="pull-right btn btn-warning">Delete</button>
            </form>

            @* Form change status *@
            <form class="form-group changeStatus" id="@key.IdComment">
                <input type="hidden" value="@key.IdComment" name="id" id="id-@key.IdComment" />
                <input type="hidden" value="@ID" name="PageID" id="PageID-@key.IdComment" />

                @if (key.Status == "none")
                {
                    <button class="pull-right btn btn-success" id="btn-@key.IdComment">Allow</button>
                }
                else
                {
                    <button class="pull-right btn btn-danger" id="btn-@key.IdComment">Unallow</button>
                }

            </form>

            @* Show Comment *@
            <a href='#'>@key.Email</a>:
            @key.Comment
            <p>Page: @key.PageID</p>
            <p style='color: grey; font-size: 0.8em'>@key.TimeComment</p>
        </li>

    }

</ul>


<div align ="center">
    @Html.PagedListPager((IPagedList)ViewBag.Comments, page => Url.Action("Index", new { page }))
</div>


<script>

    function confirmDel() {
        if (confirm("Are you sure?")) return true;
        else return false;
    }

    // Handle change status by ajax
    $('.changeStatus').submit(function () {
        var newVal;
        var id = $(this).attr('id');
        if ($('#btn-' + id).text() == "Allow") newVal = "Unallow";
        if ($('#btn-' + id).text() == "Unallow") newVal = "Allow";

        $.ajax({
            type: "POST",
            url: "/FormComment/ChangeStatusComment",
            data: {
                id: id,
                PageID: $('#PageID-' + id).val()
            },
            success: function (data) {
                //alert("Success!");
                $('#btn-' + id).html(newVal);
                if (newVal == "Unallow") {
                    $('#btn-' + id).removeClass('btn-success');
                    $('#btn-' + id).addClass('btn-danger');
                }
                else {
                    $('#btn-' + id).removeClass('btn-danger');
                    $('#btn-' + id).addClass('btn-success');
                }

            }
        });

        return false;
    });

</script>
